@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <a id="myCart" href="product_summary.html">
                <img src="~/themes/images/ico-cart.png" alt="cart">3 Items in your cart
            </a>
        </div>
        <div class="title">
            <strong>@*@T("Categories")*@</strong>
        </div>
        <div class="listbox">
            <ul id="sideManu" class="nav nav-tabs nav-stacked">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLineNavigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}