
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_ALayout.cshtml"; //this not needed as we put this in viewstart
}

    <h1>Admin Index</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to Admin Area.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>