@model HiFi.Data.Models.Manufacturer

@{
    ViewData["Title"] = "Edit";
}

<section class="container-fluid">
    <div class="panel-heading panel-body MainHeaderColor">
        <h4>Edit @Model.Name</h4>
    </div>
    <div class="content panel-body">
        <div class="row">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaKeywords" class="control-label"></label>
                        <input asp-for="MetaKeywords" class="form-control" />
                        <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaDescription" class="control-label"></label>
                        <input asp-for="MetaDescription" class="form-control" />
                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaTitle" class="control-label"></label>
                        <input asp-for="MetaTitle" class="form-control" />
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="ManufacturerId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <input asp-for="DisplayOrder" class="form-control" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdatedDate" class="control-label"></label>
                        <input asp-for="UpdatedDate" class="form-control" />
                        <span asp-validation-for="UpdatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Choose Image </label>
                        <input type="file" class="form-control" name="images" value="" multiple="multiple" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div>
                        <label>Logo : </label>
                        @if (Model.ImagePath != null && !string.IsNullOrEmpty(Model.ImagePath))
                        {
                            <div>
                                <img src="@Model.ImagePath" style="border-radius:5px;border:1px solid #bbb9b9;
                                height: 320px; width: 260px;" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <img src="\Images\default-manufacturer.jpg" style="height: 320px; width: 260px;" />
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>
